<%= form_for [notable, Note.new], class: "form-inline" do |f| %>
  <div class="form-group">
    <%= f.label :message %>
    <%= f.text_area :message, class: "form-control" %>
  </div>

  <% if notable.class == Info %>
    <%= f.hidden_field :event_id, value: notable.event.id %>
  <% elsif notable.class == Customer %>
    <%= f.hidden_field :event_id, value: event.id %>
  <% end %>
  
  <%= f.submit "Add note", class: "btn btn-sm btn-success" %>
<% end %>
