<%= form_for [notable, note], remote: true, class: "form-inline" do |f| %>
  <div class="form-group">
    <%= f.label :message %>
    <%= f.text_area :message, class: "form-control" %>
  </div>

  <%= f.hidden_field :event_id, value: notable.event.id %>

  <%= f.submit class: "btn btn-sm btn-success" %>
<% end %>
