<%= form_for [customer, contact_card], remote: true do |form| %>
  <%= render 'layouts/errors', object: contact_card %>
  <fieldset class="form-group">
    <%= form.label :email %>
    <%= form.phone_field :email, class: "form-control" %>
  </fieldset>

  <fieldset class="form-group">
    <%= form.label :phone %>
    <%= form.phone_field :phone, class: "form-control" %>
  </fieldset>

  <fieldset class="form-group">
    <%= form.label :street_address %>
    <%= form.text_field :street_address, class: "form-control" %>
  </fieldset>

  <fieldset class="form-group">
    <%= form.label :address_second_line %>
    <%= form.text_field :address_second_line, class: "form-control" %>
  </fieldset>

  <div class="row">
    <fieldset class="form-group col-md-6">
      <%= form.label :city %>
      <%= form.text_field :city, class: "form-control" %>
    </fieldset>

    <fieldset class="form-group col-md-3">
      <%= form.label :state %>
      <%= form.select :state, options_for_select(us_states),  {}, { class: "form-control" } %>
    </fieldset>

    <fieldset class="form-group col-md">
      <%= form.label :zip %>
      <%= form.text_field :zip, class: "form-control" %>
    </fieldset>
  </div>

  <%= form.submit "Add contact information", class: "btn btn-primary btn-md" %>
<% end %>
