<%= render 'companies/header', company: @company, title: "Add new event" %>

<div class="container col-md-9 col-md-offset-1">
  <%= form_for([@company, @event]) do |f| %>
    <%= render 'layouts/errors', object: @event %>

    <h4> Event Information </h4>
    <br>
    <fieldset class="form-group">
      <%= f.label :name, "Event name" %>
      <%= f.text_field :name, class: "form-control" %>
    </fieldset>

    <div class="row">
      <fieldset class="form-group col-md-4">
        <%= f.label :room_id, "Room" %>
        <%= f.collection_select(:room_id, @company.rooms, :id, :name, {}, { class: "form-control" }) %>
      </fieldset>

      <fieldset class="form-group col-md-4">
        <%= f.label :start_time%>
        <%= f.time_field :start_time, class: "form-control" %>
      </fieldset>

      <fieldset class="form-group col-md-4">
        <%= f.label :date %>
        <%= f.date_field :date, class: "form-control" %>
      </fieldset>
    </div>

    <br><h4>Primary Contact</h4><br>

    <%= f.fields_for :primary_contact do |form| %>
      <div class="row">
        <fieldset class="form-group col-md-6">
          <%= form.label :first_name %>
          <%= form.text_field :first_name, class: "form-control" %>
        </fieldset>

        <fieldset class="form-group col-md-6">
          <%= form.label :last_name %>
          <%= form.text_field :last_name, class: "form-control" %>
        </fieldset>
      </div>

      <fieldset class="form-group">
        <%= form.label :email %>
        <%= form.email_field :email, class: "form-control" %>
      </fieldset>
        <%= form.hidden_field :password, value: SecureRandom.base64(24) %>
    <% end %>

    <%= f.fields_for @contact_card do |form| %>

      <fieldset class="form-group">
        <%= form.label :phone %>
        <%= form.phone_field :phone, class: "form-control" %>
      </fieldset>

      <br><h4> Billable Address </h4><br>

      <fieldset class="form-group">
        <%= form.label :street_address %>
        <%= form.text_field :street_address, class: "form-control" %>
      </fieldset>

      <fieldset class="form-group">
        <%= form.label :address_second_line %>
        <%= form.text_field :address_second_line, class: "form-control" %>
      </fieldset>

      <div class="row">
        <fieldset class="form-group col-md-6">
          <%= form.label :city %>
          <%= form.text_field :city, class: "form-control" %>
        </fieldset>

        <fieldset class="form-group col-md-3">
          <%= form.label :state %>
          <%= form.select :state, options_for_select(us_states),  {}, { class: "form-control" } %>
        </fieldset>

        <fieldset class="form-group col-md">
          <%= form.label :zip %>
          <%= form.text_field :zip, class: "form-control" %>
        </fieldset>
      </div>

    <% end %>


    <%= f.submit class: "btn btn-primary" %>
    <br>
    <br>
    <br>
  <% end %>
</div>
