<div>
  <h1 class="col-md-offset-2"> <%= @event.name %> </h1>

  <div class="row">
    <div class="col-md-2">
      <h6> <%= @event.room.name %> </h6>
      <h6> <%= @event.event_date %> </h6>
      <h6> Primary Contact</h6>
      <%= "#{@event.primary_contact.first_name} #{@event.primary_contact.last_name}" %><br>
      <%= "#{@event.primary_contact.phone}" %><br>
      <%= @event.primary_contact.email %>
      <hr>


      <ul class="nav nav-pills nav-stacked">
        <li class="nav-item">
          <%= link_to "Setup information", company_event_path(@company, @event), class: "nav-link #{"active" if params[:event_tab].nil?}" %>
        </li>
        <li class="nav-item">
          <%= link_to "Contacts", company_event_path(@company, @event, event_tab: "contacts"), class: "nav-link #{"active" if params[:event_tab] == "contacts"}" %>
        </li>
        <li class="nav-item">
          <%= link_to "Menu", company_event_path(@company, @event, event_tab: "menu"), class: "nav-link #{"active" if params[:event_tab] == "menu"}" %>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Timeline</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Staff</a>
        </li>
      </ul>
    </div>


    <div class="col-md-8" id="event-display">
      <% if params[:event_tab].nil? %>
        <%= render 'infos/info', event: @event, info: @event_details.info %>
      <% elsif params[:event_tab] == "contacts" %>
        <%= render 'customers/customers', event: @event, customers: @event_details.customers %>
      <% elsif params[:event_tab] == "menu" %>
        <%= render 'menus/menu', event: @event, menu: @event_details.menu %>
      <% end %>
    </div>
  </div>
</div>
