<div>
  <div class="row">
    <div class="col-md-10 col-md-offset-2">
      <H1> <%= @event.name %> </h1>
      <h6> <%= @event.room.name %> </h6>
      <h6> <%= @event.event_date %> </h6>

      <div class="row">
        <h6 class="col-md-2"> Primary Contact: </h6>
        <span class= "col-md-8">
          <%= "#{@event.primary_contact.first_name} #{@event.primary_contact.last_name}    |" %>
           <%= "#{@event.primary_contact.phone}    |" %>
           <%= @event.primary_contact.email %>
        </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked">
        <li class="nav-item">
          <%= link_to "Setup information", company_event_path(@company, @event), class: "nav-link #{"active" if params[:event_tab].nil?}" %>
        </li>
        <li class="nav-item">
          <%= link_to "Contacts", company_event_path(@company, @event, event_tab: "contacts"), class: "nav-link #{"active" if params[:event_tab] == "contacts"}" %>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Timeline</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Staff</a>
        </li>
      </ul>
    </div>


    <div class="col-md-8" id="event-display">
      <% if params[:event_tab].nil? %>
        <%= render 'infos/info', event: @event, info: @event_details.info %>
      <% elsif params[:event_tab] == "contacts" %>
        <%= render 'customers/customers', event: @event, customers: @event_details.customers %>
      <% end %>
    </div>
  </div>
</div>
