<h2> Contacts </h2>
<% customers.each do |customer| %>
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">
        <%= "#{customer.first_name} #{customer.last_name}" %>
      </h4>
      <p class="card-text">
      <% if customer == event.primary_contact %>
        <p>Primary Contact</p>
      <% end %>

        <%= link_to new_customer_contact_card_path(customer), remote: true do %>
          <button class="btn btn-sm btn-primary">Add new contact card</button>
        <% end %>
      </p>
    </div>

    <ul class="list-group list-group-flush">
      <div id="new-contact-wrapper">

      </div>
    </ul>


      <% customer.contact_cards.each do |card| %>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="card-block">
              <h6 class="card-title">
                Address
              </h6>
              <p class="card-text">
                <%= card.street_address %><br>
                <% if card.address_second_line.present? %>
                  <%= card.address_second_line %><br>
                <% end %>
                <%= "#{card.city}, #{card.state} #{card.zip}" %>
              </p>
            </div>
          </li>

          <li class="list-group-item">
            <% if card.phone.present? %>
              <div class="card-block">
                <h6 class="card-title">
                  Phone number
                </h6>
                <p class="card-text">
                  <%= card.phone %><br>
                </p>
              </div>
            <% end %>
          </li>

          <li class="list-group-item">
            <% if card.email.present? %>
              <div class="card-block">
                <h6 class="card-title">
                  Email
                </h6>
                <p class="card-text">
                  <%= card.email %><br>
                </p>
              </div>
            <% end %>
          </li>
        </ul>
      <% end %>
  </div>
<% end %>
