<ul class="list-group list-group-flush">
  <li "list-group-item"><h4> Decor </h4></li>
  <li class="list-group-item col-md-6"><strong>Linen colors</strong></li>
  <li class="list-group-item col-md-6"><%= info.linen_colors %> </li>

  <li class="list-group-item col-md-6"><strong>Napkin colors</strong></li>
  <li class="list-group-item col-md-6"><%= info.napkin_colors %> </li>

  <li class="list-group-item col-md-6"><strong>Centerpieces</strong></li>
  <li class="list-group-item col-md-6"><%= info.centerpieces %> </li>


  <li "list-group-item"><h4> Service Setup</h4></li>
  <li class="list-group-item col-md-6"><strong>Placesetting</strong></li>
  <li class="list-group-item col-md-6"><%= info.placesetting %> </li>

  <li class="list-group-item col-md-6"><strong>Napkin fold</strong></li>
  <li class="list-group-item col-md-6"><%= info.napkin_fold %> </li>

  <li class="list-group-item col-md-6"><strong> Water service</strong></li>
  <li class="list-group-item col-md-6"><%= info.water_service %> </li>

  <li class="list-group-item col-md-6"><strong>Coffee service</strong></li>
  <li class="list-group-item col-md-6"><%= info.coffee_service %> </li>

  <li "list-group-item"><h4> Table Setup</h4></li>
  <li class="list-group-item col-md-6"><strong>Final guest count</strong></li>
  <li class="list-group-item col-md-6"><%= info.final_guest_count %> </li>

  <li class="list-group-item col-md-6"><strong>Number of tables</strong></li>
  <li class="list-group-item col-md-6"><%= info.number_of_tables %> </li>

  <li class="list-group-item col-md-6"><strong>Guests per table</strong></li>
  <li class="list-group-item col-md-6"><%= info.guests_per_table %> </li>
</ul>
